In [65]:
cd ../../task_01/pipelines

/Users/pldelacour/Documents/PL_Ecole/data_sc_lab/data_sc_lab/task_01/pipelines

In [ ]:
#As discussed on friday, here are the scores of the autsim scale (SRS_total). 
#There are also 2 subscales added 
####(SRS_RRB= Restrictive and Repetitive Behaviors, 
#####SRS_SCI= Social Communication Index), 
##which might be related to different sources of variance in the dataset, b
#ut in general, the total score is a more valid indicator auf autism.

In [ ]:
## Taking only patients with an SRS total score defined

In [66]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from ipynb.fs.full.tool_functions import *
from yellowbrick.regressor import AlphaSelection
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
import sklearn

In [81]:
df_beha = pd.read_csv('../../../data/Behavioral/AllData.csv')#, nrows=1000)

df_spectro_cluster = pd.read_csv("../../../data/EEG/RestingEEG_Spectro_Cluster.csv") #, nrows=1000)

/Users/pldelacour/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (66,68,80,81,82,83,84,95,96,97,98,99,110,111,112,113,114,125,126,127,128,129,140,141,142,144,155,156,157,159,932,933,934,935,936,937,938,939,940,941,942,943,944,945,946,947,948,949,950,951,952,953,954,955,956,957,958,959,960,961,962,963,964,965,966,967,968,969,970,971,972,973,974,975,976,977,978,979,980,981,982,983,984,985,986,987,988,989,990,991,992,993,994,995,996,997,998,999,1000,1001,1002,1003,1004,1005,1006,1007,1008,1009,1010,1011,1012,1013,1014,1015,1016,1017,1018,1019,1020,1021,1022,1023,1024,1025,1026,1027,1028,1029,1030,1031,1032,1033,1034,1035,1036,1037,1038,1039,1040,1041,1042,1043,1044,1045,1046,1047,1048,1049,1050,1051,1052,1053,1054,1055,1056,1057,1058,1059,1060,1061,1062,1063,1064,1065,1066,1067,1068,1069,1070,1071,1072,1073,1074,1075,1076,1077,1078,1079,1080,1081,1082,1083,1084,1085,1086,1087,1088,1089,1090,1091,1092,1093,1094,1095,1096,1097,1098,1099,1100,1101,1102,1103,1104,1105,1106,1107,1108,1109,1110,1111,1112,1113,1114,1115,1116,1117,1118,1119,1120,1121,1122,1123,1124,1125,1126,1127,1128,1129,1130,1131,1132,1133,1134,1135,1136,1137,1138,1139,1140,1141,1142,1143,1144,1145,1146,1147,1148,1149,1150,1151,1152,1153,1154,1155,1156,1157,1158,1159,1160,1161,1162,1163,1164,1165,1166,1167,1168,1169,1170,1171,1172,1173,1174,1175,1176,1177,1178,1179,1180,1181,1182,1183,1184,1185,1186,1187,1188,1189,1190,1191,1192,1193,1194,1195,1196,1197,1198,1199,1200,1201,1202,1203,1204,1205,1206,1207,1208,1209,1210,1211,1212,1213,1214,1215,1216,1217,1218,1219,1220,1221,1222,1223,1224,1225,1226,1227,1228,1229,1230,1231,1232,1233,1234,1235,1236,1237,1238,1239,1240,1241,1242,1243,1244,1245,1246,1247,1248,1249,1250,1251,1252,1253,1254,1255,1256,1257,1258,1259,1260,1261,1262,1263,1264,1265,1266,1267,1268,1269,1270,1271,1272,1273,1274,1275,1276,1277,1278,1279,1280,1281,1282,1283,1284,1285,1286,1287,1288,1289,1290,1291,1292,1293,1294,1295,1296,1297,1298,1299,1300,1301,1302,1303,1304,1305,1306,1307,1308,1309,1310,1311,1312,1313,1314,1315,1316,1317,1318,1319,1320,1321,1322,1323,1324,1325,1326,1327,1328,1329,1330,1331,1332,1333,1334,1335,1336,1337,1338,1339,1340,1341,1342,1343,1344,1345,1346,1347,1348,1349,1350,1351,1352,1353,1354,1355,1356,1357,1358,1359,1360,1361,1362,1363,1364,1365,1366,1367,1368,1369,1370,1371,1372,1373,1374,1375,1376,1377,1378,1379,1380,1381,1384,1385,1387,1390,1391,1393,1396,1397,1399,1402,1403,1405,1408,1409,1411,1414,1415,1417,1420,1421,1423,1426,1427,1429,1432,1433,1435,1438,1439,1441,1444,1445,1447,1450,1451,1453,1456,1457,1459,1462,1463,1465,1468,1469,1471,1474,1475,1477,1480,1481,1483,1486,1487,1489,1492,1493,1495,1498,1499,1501,1504,1505,1507,1510,1511,1513,1516,1517,1519,1522,1523,1525,1528,1529,1531,1534,1535,1537,1540,1541,1543,1546,1547,1549,1552,1553,1555,1558,1559,1561,1564,1565,1567,1570,1571,1573,1576,1577,1579,1582,1583,1585,1588,1589,1591,1594,1595,1597,1600,1601,1603,1606,1607,1609,1612,1613,1615,1618,1619,1621,1624,1625,1627,1630,1631,1633,1636,1637,1639,1642,1643,1645,1648,1649,1651,1654,1655,1657,1660,1661,1663,1666,1667,1669,1672,1673,1675,1678,1679,1681,1684,1685,1687,1690,1691,1693,1696,1697,1699,1702,1703,1705,1708,1709,1711,1714,1715,1717,1720,1721,1723,1726,1727,1729,1732,1733,1735,1738,1739,1741,1744,1745,1747,1750,1751,1753,1756,1757,1759,1762,1763,1765,1768,1769,1771,1774,1775,1777,1780,1781,1783,1786,1787,1789,1792,1793,1795,1798,1799,1801,1804,1805,1807,1810,1811,1813,1816,1817,1819,1822,1823,1825,1828,1829,1831,1834,1835,1837,1840,1841,1843,1846,1847,1849,1852,1853,1855,1858,1859,1861,1882,1883,1884,1917,1918,1919,1952,1953,1954,1955,1987,1988,1989,1990,2022,2023,2024,2025,2026,2057,2058,2059,2060,2061,2092,2093,2094,2095,2096,2097,2127,2128,2129,2130,2131,2132,2162,2163,2164,2165,2166,2167,2168,2197,2198,2199,2200,2201,2202,2203,2232,2233,2234,2235,2236,2237,2238,2239,2267,2268,2269,2270,2271,2272,2273,2274,2302,2303,2304,2305,2306,2307,2308,2309,2337,2338,2339,2340,2341,2342,2343,2344,2477,2478,2479,2512,2513,2514,2547,2548,2549,2550,2582,2583,2584,2585,2617,2618,2619,2620,2621,2652,2653,2654,2655,2656,2687,2688,2689,2690,2691,2692,2722,2723,2724,2725,2726,2727,2757,2758,2759,2760,2761,2762,2763,2792,2793,2794,2795,2796,2797,2798,2827,2828,2829,2830,2831,2832,2833,2834,2862,2863,2864,2865,2866,2867,2868,2869,2897,2898,2899,2900,2901,2902,2903,2904,2932,2933,2934,2935,2936,2937,2938,2939,3819,3826,3866,3933,4037,4055,4059,4063,4067,4071,4075,4079,4084,4085,4086,4087,4088,4091,4092,4094,4095,4096,4608,4616,4648,4649,4664,4665,4667,4683,4690,4691,4692,4693,4739,4800,5002,5010,5018,5026,5042,5240,5282,5386,5433,5443,5463,5466,5467,5468,5470,5478,5479,5481,5482,5483,5484,5485,5486,5487,5488,5489,5490,5491,5492,5495,5499,5503,5507,5511,5515,5517,5518,5519,5520,5521,5522,5523,5524,5532,5535,5536,5537,5539,5540,5548,5549,5551,5552,5553,5554,5555,5556,5557,5558,5559,5560,5561,5562,5565,5569,5573,5577,5581,5586,5587,5588,5589,5590,5591,5592,5593,5594,5601,5604,5605,5606,5608,5616,5617,5619,5620,5621,5622,5623,5624,5625,5626,5627,5628,5629,5630,5633,5636,5637,5638,5640,5648,5649,5651,5652,5653,5654,5655,5656,5657,5658,5659,5660,5661,5662,5665,5668,5669,5670,5672,5680,5681,5683,5684,5685,5686,5687,5688,5689,5690,5691,5692,5693,5694,5697,5700,5701,5702,5704,5712,5713,5715,5716,5717,5718,5719,5720,5721,5722,5723,5724,5725,5726,5729,5732,5733,5734,5736,5744,5745,5747,5748,5749,5750,5751,5752,5753,5754,5755,5756,5757,5758,5759,5760,5761,5762,5763,5764,5768,5772,5776,5780,5784,5788,5792,5796,5800,5804,5808,5812,5816,5820,5869,5877,5881,5885,5889,5893,5897,6538,6539,6540,6541,6542,6555,6556,6557,6558,6559,6572,6573,6574,6575,6576,6589,6590,6591,6592,6593,6606,6607,6608,6609,6610,6623,6624,6625,6626,6627,6636,6644,6650,6653,6682,6701,6738,6768) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [82]:
y_labels = df_beha[["Patient_ID", "Age", "DX_01"]]
healt_ind = (y_labels["DX_01"].str.contains("No Diagnosis Given") == True)
ADHD_ind = (y_labels["DX_01"].str.contains('ADHD') == True)
keep = healt_ind | ADHD_ind

In [83]:
#df_beha = df_beha[keep]
#df_spectro_cluster = df_spectro_cluster[keep]

In [84]:
#scores of the autsim scale (SRS_total). 
#2 subscales added 
###### in general, the total score is a more valid indicator auf autism.
s_tot = df_beha[['SRS_Total' , 'Age', 'Patient_ID']]
#SRS_RRB= Restrictive and Repetitive Behaviors
s_RRB = df_beha[['SRS_RRB' , 'Age', 'Patient_ID']]
#SRS_SCI= Social Communication Index
s_SCI =  df_beha[['SRS_SCI' , 'Age' , 'Patient_ID']]

## Taking Only people with SRS score defined

In [85]:
all_SRS = ['SRS_Total' , 'SRS_RRB' , 'SRS_SCI']

In [86]:
s = df_beha[['SRS_Total' , 'SRS_RRB' , 'SRS_SCI', 'Age', 'Patient_ID']]
s = s[~s['SRS_Total'].isnull()]
s.shape

(1717, 5)

In [87]:
df_spectro_cluster.rename(columns={'id': 'Patient_ID'}, inplace=True)
df_label_spectro_cluster = pd.merge(s, df_spectro_cluster, on='Patient_ID')

df_label_spectro_cluster = fill_with_median(df_label_spectro_cluster)

## Removing People younger than 18

In [88]:
less_18 = df_label_spectro_cluster['Age'] <= 18.0
df_label_spectro_cluster = df_label_spectro_cluster[less_18]

# Removing Outliers

In [89]:
outliers = pd.read_csv('../../../data/outliers.csv')
df_label_spectro_cluster = df_label_spectro_cluster[~df_label_spectro_cluster.Patient_ID.isin(outliers.Patient_ID)]

## Train Test split

In [90]:
all_SRS

['SRS_Total', 'SRS_RRB', 'SRS_SCI']

In [91]:
x_train , x_test, y_train , y_test = \
train_test_split(df_label_spectro_cluster.drop([ 'SRS_Total', 'SRS_RRB', 'SRS_SCI', 'Patient_ID'], axis=1), df_label_spectro_cluster[all_SRS], test_size=0.2, random_state = 0)

In [92]:
print(x_train.shape)
print(y_train.shape)
print(x_test.shape)
print(y_test.shape)

(941, 301)
(941, 3)
(236, 301)
(236, 3)

# Drop Outliers Using Isolation Forest

In [93]:
forest = IsolationForest()
forest.fit(x_train)

# Outlier indices for training
outliers_training = forest.predict(x_train)
outliers_training_indices = np.argwhere(outliers_training == 1).flatten()

# Drop signal outliers in training data
x_train = x_train[outliers_training == 1]
y_train = y_train[outliers_training == 1]
#x_train, y_train = drop_outliers_samples_isolation_forest(x_train, y_train)
print(outliers_training_indices)
print(x_test.shape)
print(y_test.shape)
print(x_train.shape)
print(y_train.shape)

[  2   3   4   5   6   7   8   9  10  11  12  13  15  16  17  18  19  20
  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35  36  37  38
  39  40  42  43  44  45  46  47  49  50  51  52  53  54  55  56  57  58
  59  60  61  62  63  64  65  66  67  68  69  70  71  72  74  75  76  77
  78  79  80  81  82  83  85  86  87  89  90  91  92  93  95  96  97  98
  99 101 102 104 105 106 107 108 109 110 111 112 113 115 116 118 119 120
 121 122 123 124 125 126 127 128 129 130 132 133 134 135 136 137 138 139
 140 141 142 143 144 145 147 149 152 153 154 156 157 158 159 160 161 162
 163 164 165 166 167 168 169 170 171 172 173 174 175 177 178 179 180 181
 182 183 184 185 186 187 188 189 190 191 192 193 194 195 196 197 198 199
 200 201 202 203 204 205 206 207 208 209 210 212 213 214 215 216 217 218
 219 220 221 222 223 224 225 226 227 228 229 230 231 232 233 234 235 236
 237 238 239 240 241 242 243 244 245 246 247 248 249 250 251 253 254 255
 256 257 258 259 260 261 262 263 264 266 267 268 269 270 271 272 273 275
 276 277 278 279 280 281 282 283 284 285 286 287 288 289 290 291 292 293
 294 295 296 297 298 299 300 301 304 305 306 307 308 309 310 311 312 313
 314 315 316 317 318 319 320 321 322 323 324 325 326 327 328 329 330 331
 332 334 335 336 337 338 339 340 341 342 343 344 345 346 347 348 349 350
 352 353 354 355 356 357 358 359 360 361 362 363 364 365 366 367 368 369
 370 371 372 373 374 375 376 377 378 379 380 381 383 384 385 386 387 388
 389 390 391 392 393 394 395 396 397 398 399 400 402 403 404 405 406 407
 408 409 412 413 414 415 416 417 418 419 420 421 422 423 424 425 426 427
 428 429 430 432 433 434 435 436 437 438 439 440 441 442 443 444 445 446
 447 448 449 450 451 452 454 455 456 457 458 459 460 461 462 463 464 465
 466 467 468 469 470 472 473 474 475 476 478 479 480 481 482 483 484 485
 486 487 488 489 490 491 492 493 494 495 497 498 499 500 501 502 503 505
 506 507 508 509 510 511 512 513 514 515 516 517 518 519 520 521 522 523
 524 525 526 527 528 529 530 531 532 534 535 536 537 538 539 540 541 542
 543 545 546 547 548 549 550 551 552 553 554 555 556 559 560 562 563 564
 565 566 568 571 572 573 574 575 576 577 578 579 580 581 582 583 584 585
 586 587 588 589 590 591 592 594 595 596 597 598 599 600 601 602 603 604
 605 606 607 608 609 610 611 612 613 614 615 616 617 618 619 620 621 622
 623 624 625 626 627 628 629 630 631 632 633 634 635 636 637 638 639 641
 642 643 644 645 646 647 648 649 651 652 654 655 656 657 658 659 660 661
 662 663 664 665 666 667 668 669 670 671 672 673 674 675 676 677 678 679
 680 682 683 685 686 687 688 689 690 692 693 694 695 697 698 699 700 701
 702 703 704 705 706 708 709 710 711 712 713 714 715 716 718 719 720 721
 722 723 724 725 726 727 728 729 730 731 732 733 734 735 736 737 738 740
 741 742 743 744 745 746 747 748 749 750 751 752 753 754 756 757 758 759
 761 762 763 764 765 766 767 768 769 770 771 772 773 774 775 777 779 780
 781 783 784 785 786 787 788 789 790 791 792 793 794 795 796 798 799 800
 801 802 803 804 805 806 807 808 809 810 811 812 813 814 815 816 817 818
 819 820 821 822 823 824 826 827 828 829 830 832 833 834 835 836 837 839
 840 841 842 843 844 845 846 847 848 849 850 851 852 853 854 855 856 858
 859 860 861 862 863 864 865 866 867 868 869 870 871 872 873 874 875 876
 877 878 880 881 882 883 884 885 887 888 889 890 891 892 893 895 896 897
 898 899 900 901 902 904 905 906 907 908 909 910 911 912 913 914 916 917
 918 919 920 921 922 923 924 925 926 928 929 930 931 932 933 934 936 937
 938 939 940]
(236, 301)
(236, 3)
(867, 301)
(867, 3)

## Standardization

In [94]:
scaler = StandardScaler()
scaler.fit(x_train)
x_train = pd.DataFrame(scaler.transform(x_train), columns=x_train.columns, index=x_train.index)
x_test = pd.DataFrame(scaler.transform(x_test), columns=x_test.columns, index=x_test.index)

print(x_test.shape)
print(y_test.shape)
print(x_train.shape)
print(y_train.shape)

(236, 301)
(236, 3)
(867, 301)
(867, 3)

## XGBOOST

In [95]:
def fit_xgboost_with_grid_search(X_train, y_train):

    # Create gradient boosting object
    xgbr = XGBRegressor(verbosity=1, max_depth=10, reg_lambda=1) 
    
    # Grid search 
    parameters = {'max_depth':[1,2,4], 'reg_lambda':[4, 8, 16,  20], 'min_child_weight':[6,  12, 25, 30]}
    clf = GridSearchCV(xgbr, parameters, scoring='neg_mean_squared_error', n_jobs=4, iid=False, cv=5)
    clf.fit(X_train, y_train)
    
    print("Best parameters for XGBoost: " + str(clf.best_params_))
            
    return clf

In [105]:
rdf0 = fit_xgboost_with_grid_search(x_train, y_train.to_numpy()[:,0])
rdf0.best_score_

/Users/pldelacour/anaconda3/lib/python3.7/site-packages/sklearn/model_selection/_search.py:823: FutureWarning: The parameter 'iid' is deprecated in 0.22 and will be removed in 0.24.
  "removed in 0.24.", FutureWarning

[16:37:58] WARNING: /usr/local/miniconda/conda-bld/xgboost_1566327371504/work/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
Best parameters for XGBoost: {'max_depth': 1, 'min_child_weight': 30, 'reg_lambda': 4}

-982.3170059775232

In [106]:
xg_test_SRS_total = mean_squared_error(rdf0.predict(x_test), y_test.to_numpy()[:,0])
xg_test_SRS_total

1123.712154939716

In [107]:
rdf1 = fit_xgboost_with_grid_search(x_train, y_train.to_numpy()[:,1])
rdf1.best_score_

/Users/pldelacour/anaconda3/lib/python3.7/site-packages/sklearn/model_selection/_search.py:823: FutureWarning: The parameter 'iid' is deprecated in 0.22 and will be removed in 0.24.
  "removed in 0.24.", FutureWarning

[16:39:21] WARNING: /usr/local/miniconda/conda-bld/xgboost_1566327371504/work/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
Best parameters for XGBoost: {'max_depth': 1, 'min_child_weight': 6, 'reg_lambda': 20}

-55.995299411664725

In [108]:
xg_test_SRS_RRB = mean_squared_error(rdf1.predict(x_test), y_test.to_numpy()[:,1])
xg_test_SRS_RRB

65.47964566772956

In [109]:
rdf2 = fit_xgboost_with_grid_search(x_train, y_train.to_numpy()[:,2])
rdf2.best_score_

/Users/pldelacour/anaconda3/lib/python3.7/site-packages/sklearn/model_selection/_search.py:823: FutureWarning: The parameter 'iid' is deprecated in 0.22 and will be removed in 0.24.
  "removed in 0.24.", FutureWarning

[16:40:41] WARNING: /usr/local/miniconda/conda-bld/xgboost_1566327371504/work/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
Best parameters for XGBoost: {'max_depth': 1, 'min_child_weight': 30, 'reg_lambda': 16}

-617.3046828166991

In [110]:
xg_test_SRS_SCI = mean_squared_error(rdf2.predict(x_test), y_test.to_numpy()[:,2])
xg_test_SRS_SCI

696.0234953065647

In [113]:
data = []
data.append(['SRS Total ' , -rdf0.best_score_ , xg_test_SRS_total])
data.append(['SRS RRB ' , -rdf1.best_score_ , xg_test_SRS_RRB])
data.append(['SRS SCI ' , -rdf2.best_score_ , xg_test_SRS_SCI])
column_name = ['ID' , 'Train MSE' , 'Test MSE']

df_scores = pd.DataFrame(data, columns = column_name)

In [114]:
df_scores

           ID   Train MSE     Test MSE
0  SRS Total   982.317006  1123.712155
1    SRS RRB    55.995299    65.479646
2    SRS SCI   617.304683   696.023495

## SVM

In [115]:
from sklearn import svm

In [117]:
svr= svm.SVR()
parameters = {'kernel' : ( 'rbf' ,  'sigmoid' ), 'C':[0.1, 1,10,100], 'gamma':['auto']}
clf0 = GridSearchCV(svr, parameters ,cv =5, scoring='neg_mean_squared_error')
clf0.fit(x_train , y_train.to_numpy()[:,0])
clf0.best_score_

-1001.090805046133

In [118]:
svr_test_SRS_total = mean_squared_error(clf0.predict(x_test.to_numpy()), y_test.to_numpy()[:,0])

In [119]:
svr= svm.SVR()
parameters = {'kernel' : ( 'rbf' ,  'sigmoid' ), 'C':[0.1, 1,10,100], 'gamma':['auto']}
clf1 = GridSearchCV(svr, parameters ,cv =5, scoring='neg_mean_squared_error')
clf1.fit(x_train , y_train.to_numpy()[:,1])
clf1.best_score_

-58.36795652127497

In [120]:
svr_test_SRS_RRB = mean_squared_error(clf1.predict(x_test.to_numpy()), y_test.to_numpy()[:,1])

In [121]:
svr= svm.SVR()
parameters = {'kernel' : ( 'rbf' ,  'sigmoid' ), 'C':[0.1, 1,10,100], 'gamma':['auto']}
clf2 = GridSearchCV(svr, parameters ,cv =5, scoring='neg_mean_squared_error')
clf2.fit(x_train , y_train.to_numpy()[:,2])
clf2.best_score_

-619.0930049313231

In [124]:
svr_test_SRS_SCI = mean_squared_error(clf2.predict(x_test.to_numpy()), y_test.to_numpy()[:,2])

In [125]:
data = []
data.append(['SRS Total ' , -clf0.best_score_ , svr_test_SRS_total])
data.append(['SRS RRB ' , -clf1.best_score_ , svr_test_SRS_RRB])
data.append(['SRS SCI ' , -clf2.best_score_ , svr_test_SRS_SCI])
column_name = ['ID' , 'Train MSE' , 'Test MSE']

df_scores = pd.DataFrame(data, columns = column_name)

In [126]:
df_scores

           ID    Train MSE     Test MSE
0  SRS Total   1001.090805  1178.105445
1    SRS RRB     58.367957    69.217889
2    SRS SCI    619.093005   723.021251

## Mean Baseline

In [129]:
y_train

      SRS_Total  SRS_RRB  SRS_SCI
342        15.0      4.0     11.0
865        41.0      8.0     33.0
1058      114.0     28.0     86.0
97         94.0     17.0     77.0
319        25.0      3.0     22.0
...         ...      ...      ...
1039       34.0      3.0     31.0
766        48.0      6.0     42.0
839        59.0      8.0     51.0
561        14.0      1.0     13.0
687        94.0     17.0     77.0

[867 rows x 3 columns]

In [141]:
mean_SRS_total =  np.mean(y_train['SRS_Total'])
mean_SRS_RRB = np.mean(y_train['SRS_RRB'])
mean_SRS_SCI = np.mean(y_train['SRS_SCI'])
mean_data = []

mse_tot = np.mean( (y_test['SRS_Total'].values - mean_SRS_total)**2)
mse_RRB = np.mean( (y_test['SRS_RRB'].values - mean_SRS_RRB)**2)
mse_SCI = np.mean( (y_test['SRS_SCI'].values - mean_SRS_SCI)**2)

mean_data.append(['SRS_total Baseline' , mse_tot])
mean_data.append(['SRS_RRB Baseline' , mse_RRB])
mean_data.append(['SRS_SCI Baseline' , mse_SCI])
column_baseline  = ['id', 'score']
df_baseline = pd.DataFrame(mean_data, columns= column_baseline)
df_baseline

                   id        score
0  SRS_total Baseline  1118.863466
1    SRS_RRB Baseline    63.906088
2    SRS_SCI Baseline   696.144761

## Neural Network

In [146]:
# mlp for multi-output regression
from numpy import mean
from numpy import std
from sklearn.model_selection import RepeatedKFold
from keras.models import Sequential
from keras.layers import Dense
from keras.callbacks import ModelCheckpoint, EarlyStopping, LearningRateScheduler, ReduceLROnPlateau

In [147]:
def get_model(n_inputs, n_outputs):
    model = Sequential()
    model.add(Dense(5, input_dim=n_inputs, activation='relu'))
    model.add(Dense(5, activation='relu'))
    #model.add(Dense(5, activation='relu'))
    model.add(Dense(n_outputs))
    model.compile(loss='mse', optimizer='adam')
    return model
 
# evaluate a model using repeated k-fold cross-validation
def evaluate_model(X, y):
    results = list()
    n_inputs, n_outputs = X.shape[1], 1#y.shape[1]
    # define evaluation procedure
    cv = RepeatedKFold(n_splits=10, n_repeats=1, random_state=1)
    # enumerate folds
    for train_ix, test_ix in cv.split(X):
        # prepare data
        X_train, X_test = X[train_ix], X[test_ix]
        y_train, y_test = y[train_ix], y[test_ix]
        # define model
        file_path = "model.h5"
        model = get_model(n_inputs, n_outputs)
        # fit model
        checkpoint = ModelCheckpoint(file_path, monitor='val_loss', verbose=0, save_best_only=True, mode='min')
        callbacks_list = [checkpoint] 
        model.fit(X_train, y_train, verbose=0, callbacks=callbacks_list, validation_split=0.1,  epochs=150)
        # evaluate model on test set
        mse = model.evaluate(X_test, y_test, verbose=0)
        # store result
        print('>%.3f' % mse)
        results.append(mse)
    return results

In [148]:
train_nn_SRS_total = evaluate_model(x_train.to_numpy(), y_train.to_numpy()[:,0])
print('MSE: %.3f (%.3f)' % (mean(train_nn_SRS_total), std(train_nn_SRS_total)))
train_nn_SRS_total = mean(train_nn_SRS_total)

WARNING:tensorflow:From /Users/pldelacour/anaconda3/lib/python3.7/site-packages/tensorflow/python/ops/math_ops.py:3066: to_int32 (from tensorflow.python.ops.math_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.cast instead.
>1560.898
>970.243
>1103.106
>1223.948
>1311.348
>1161.948
>907.517
>1434.448
>1246.669
>1384.151
MSE: 1230.428 (193.439)

In [149]:
train_nn_SRS_RRB =  evaluate_model(x_train.to_numpy(), y_train.to_numpy()[:,1])
print('MSE: %.3f (%.3f)' % (mean(train_nn_SRS_RRB), std(train_nn_SRS_RRB)))
train_nn_SRS_RRB = mean(train_nn_SRS_RRB)

>81.059
>61.147
>63.413
>63.344
>90.022
>75.973
>61.478
>93.303
>71.786
>76.917
MSE: 73.844 (11.153)

In [160]:
train_nn_SRS_SCI =  evaluate_model(x_train.to_numpy(), y_train.to_numpy()[:,2])
print('MSE: %.3f (%.3f)' % (mean(train_nn_SRS_SCI), std(train_nn_SRS_SCI)))
train_nn_SRS_SCI = mean(train_nn_SRS_SCI)

>799.905
>652.993
>705.350
>809.894
>671.972
>738.676
>2045.171
>752.946
>692.989
>855.877
MSE: 872.577 (395.649)

## Test set

In [152]:
def evaluate_model_10(X, y, x_test, y_test):
    results = list()
    for i in range(10):
        n_inputs, n_outputs = X.shape[1], 1
        model = get_model(n_inputs, n_outputs)
        file_path = "model.h5"
        checkpoint = ModelCheckpoint(file_path, monitor='val_loss', verbose=0, save_best_only=True, mode='min')
        #early = EarlyStopping(monitor="val_loss", mode="min", patience=10, verbose=1)
        #redonplat = ReduceLROnPlateau(monitor="val_loss", mode="min", patience=10, verbose=2)
        callbacks_list = [checkpoint] 
        model.fit(X, y, callbacks=callbacks_list, verbose=0,validation_split=0.1,  epochs=150)
        model.load_weights(file_path)
        mse = model.evaluate(x_test, y_test, verbose=2)
        print('>%.3f' % mse)
        results.append(mse)
    print('MSE: %.3f (%.3f)' % (mean(results), std(results)))
    return mean(results)

In [153]:
test_nn_SRS_total = evaluate_model_10(x_train.to_numpy(), y_train.to_numpy()[:, 0], x_test.to_numpy(), y_test.to_numpy()[:,0])

>1359.983
>1397.820
>1360.042
>1399.895
>1268.649
>1345.782
>1331.804
>1354.505
>1316.989
>1365.150
MSE: 1350.062 (36.446)

In [154]:
test_nn_SRS_RRB = evaluate_model_10(x_train.to_numpy(), y_train.to_numpy()[:, 1], x_test.to_numpy(), y_test.to_numpy()[:,1])

>72.193
>71.745
>71.738
>68.235
>74.076
>71.974
>70.141
>76.261
>74.680
>76.730
MSE: 72.777 (2.526)

In [159]:
test_nn_SRS_SCI = evaluate_model_10(x_train.to_numpy(), y_train.to_numpy()[:, 2], x_test.to_numpy(), y_test.to_numpy()[:,2])

>901.919
>821.490
>863.419
>842.014
>812.228
>796.190
>834.845
>829.658
>801.938
>820.956
MSE: 832.466 (29.660)

In [161]:
data_nn =[]
columns_nn = ['id' , 'Train MSE' , 'Test MSE']
data_nn.append(['NN SRS_total' ,train_nn_SRS_total , test_nn_SRS_total ])
data_nn.append(['NN SRS_RRB'  , train_nn_SRS_RRB , test_nn_SRS_RRB])
data_nn.append(['NN SRS_SCI' , train_nn_SRS_SCI , test_nn_SRS_SCI]) 
df_nn = pd.DataFrame(data_nn , columns = columns_nn)
df_nn

             id    Train MSE     Test MSE
0  NN SRS_total  1230.427512  1350.061883
1    NN SRS_RRB    73.844222    72.777300
2    NN SRS_SCI   872.577311   832.465653